<div class='py-5 container-fluid d-flex justify-content-center'>
  <h2>Group</h2>
</div>
<div class="gray">
  <div class="d-flex bg-light justify-content-between">
    <span class="px-2 py-3">Total Group</span>
    <span class="px-2 py-3"><%= @count %></span>
  </div>
  <% @groups.each do |group| %>
    <%= link_to group_path(id: group.id), method: :post do %>
    <div class="container bg-white my-2 my-container">
      <div class="d-inline-block w-25 text-white">
        <%= image_tag('transactions.png', :class => "h-100 w-100 mb-2 yellow") %>
      </div>
      <div class="d-inline-block w-50 mt-3 text-white">
        <p><%= group.name %></p>
        <p><%= group.created_at %></p>
      </div>
    </div>
    <% end %>
  <% end %>
  <div class="py-4 d-flex justify-content-center cta w-100">
    <%= link_to 'Create Group', create_group_path, class: "text-white text-decoration-none border border-white py-3 px-5" %>
  </div>
</div>
