<div class="py-5 container-fluid d-flex justify-content-center">
  <h1>Create A Group</h1>
</div>
<div class="d-flex justify-content-between container">
  <%= link_to "profil",main_path, class: "text-light" %>
  <%= link_to "transaction",transaction_path, class: "text-light" %>
  <%= link_to "external transaction",ext_transaction_path, class: "text-light" %>
  <%= link_to "group",group_path, class: "text-light"%>
</div>
<div class="gray">
  <%= form_with model: @groups, url: create_group_path do |form| %>
      <%= div_group_start%>
      <%= display_group_errors %>
      <%= div_group_end%>
    <%= form.label :name, class: "text-color" %>
    <%= form.text_field :name, class: "form-control" %>
    <%= form.label :icon, class: "text-color" %>
    <%= form.text_field :icon, class: "form-control" %>
    <%= form.number_field :user_id, value: Current.user.id, type: :hidden %>
    <%= form.submit class: "btn g-transaction-cta form-control mt-2" %>
  <% end %>
</div>
