<div>
  <%= image_tag('user_logo.png') %>
  <% if @user%>
    Sign in as: <%= @user.name %>
  <% end %>
</div>
<%= button_to "Log Out", log_out_path, method: :delete %>
<div>
  <%= image_tag('transactions.png')%>
  <%= link_to 'All my transactions' %>
</div>
<div>
  <%= image_tag('transactions.png')%>
  <%= link_to 'All my external transactions' %>
</div>
<div>
  <%= image_tag('group_transactions.png')%>
  <%= link_to 'All groups' %>
</div
